<ion-view title="10 - Biologia" id="page15">
  <ion-content padding="true" class="has-header">
    <h3 id="10Biologia-heading11" style="color:#000000;text-align:center;">O maior osso do corpo humano</h3>
    <a ui-sref="failed()" id="10Biologia-button39" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Fíbula</a>
    <a ui-sref="failed()" id="10Biologia-button40" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Tíbia</a>
    <a ui-sref="11MatemTica()" id="10Biologia-button41" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Fêmur</a>
    <a ui-sref="failed()" id="10Biologia-button43" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Úmero</a>
  </ion-content>
</ion-view>