<ion-view title="14 - Matemática" id="page19">
  <ion-content padding="true" class="has-header">
    <h3 id="14MatemTica-heading15" style="color:#000000;text-align:center;">Cinco anões fazem 200 machados em 8 dias. Com oito anões, em quantos dias eles fariam 200 machados?</h3>
    <a ui-sref="failed()" id="14MatemTica-button56" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">3,125</a>
    <a ui-sref="15PortuguS()" id="14MatemTica-button57" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">5</a>
    <a ui-sref="failed()" id="14MatemTica-button58" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">4</a>
    <a ui-sref="failed()" id="14MatemTica-button59" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">6</a>
  </ion-content>
</ion-view>