<ion-view title="15 - Portuguës" id="page20">
  <ion-content padding="true" class="has-header">
    <h3 id="15PortuguS-heading16" style="color:#000000;text-align:center;">A única palavra da língua portuguesa em que, no plural, o 's' fica no meio da palavra</h3>
    <a ui-sref="failed()" id="15PortuguS-button60" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Guardas-chuva</a>
    <a ui-sref="failed()" id="15PortuguS-button61" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Abaixos-assinado</a>
    <a ui-sref="16QuMica()" id="15PortuguS-button62" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Quaisquer</a>
    <a ui-sref="failed()" id="15PortuguS-button63" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Beijas-flores</a>
  </ion-content>
</ion-view>