<ion-view title="16 - Química" id="page21">
  <ion-content padding="true" class="has-header">
    <h3 id="16QuMica-heading18" style="color:#000000;text-align:center;">O máximo de ligações químicas de um átomo de carbono</h3>
    <a ui-sref="failed()" id="16QuMica-button49" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">4</a>
    <a ui-sref="17Astrologia()" id="16QuMica-button50" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">6</a>
    <a ui-sref="failed()" id="16QuMica-button64" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">3</a>
    <a ui-sref="failed()" id="16QuMica-button65" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">9</a>
  </ion-content>
</ion-view>