<ion-view title="18 - Matemática">
  <ion-content padding="true" class="has-header">
    <h2 style="color:#000000;text-align:center;">Identifique o número perfeito</h2>
    <h5 style="color:#000000;text-align:center;">(O número perfeito é aquele que se iguala a soma de todos os seus divisores naturais)</h5>
    <style>
      .circle {
          border-radius: 50% !important;
      	width: 145px !important;
      	height: 130px;
      	text-align:center;
      	vertical-align:middle;
      	display: table-cell;
      	border:4px dotted black !important;
      	font-size:50px;
      }
      .secondary{
          background:#ffc900;
      }
    </style>
    <center>
      <a ui-sref="failed()" style="font-weight:600;color:#000000;" class="button button-energized button-block circle">7</a>
      <a ui-sref="19Geometria()" style="font-weight:600;color:#000000;" class="button button-energized button-large button-block circle">28</a>
      <p></p>
      <a ui-sref="failed()" style="font-weight:600;color:#000000;" class="button button-energized button-block circle">21</a>
      <a ui-sref="failed()" style="font-weight:600;color:#000000;" class="button button-energized button-block circle">5</a>
    </center>
  </ion-content>
</ion-view>