<ion-view title="19 - Geometria" id="page26">
  <ion-content padding="true" class="has-header">
    <div>
      <style>
        .parallelogram{
            transform: skew(20deg);
            width:80%;
            height:90px;
            background:#66CC99;
        }
      </style>
      <center>
        <div class="parallelogram">
        </div>
      </center>
      <p></p>
    </div>
    <a ui-sref="20HistRia()" id="19Geometria-button95" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Paralelogramo</a>
    <a ui-sref="failed()" id="19Geometria-button96" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Prisma</a>
    <a ui-sref="failed()" id="19Geometria-button97" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Trapézio</a>
    <a ui-sref="failed()" id="19Geometria-button98" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Retângulo</a>
  </ion-content>
</ion-view>