<ion-view title="1 - Geografia" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="1Geografia-heading1" style="color:#000000;font-weight:400;text-align:center;">O maior vulcão do sistema solar</h3>
    <a ui-sref="failed()" id="1Geografia-button4" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Everest</a>
    <a ui-sref="2MatemTica()" id="1Geografia-button5" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Monte Olimpo</a>
    <a ui-sref="failed()" id="1Geografia-button6" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Monte Fuji</a>
    <a ui-sref="failed()" id="1Geografia-button8" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Kilauea</a>
  </ion-content>
</ion-view>