<ion-view title="21 - Conhecimentos gerais" id="page28">
  <ion-content padding="true" class="has-header">
    <h2 id="21ConhecimentosGerais-heading28" style="color:#000000;text-align:center;">A mistura de todas as cores forma:</h2>
    <a ui-sref="failed()" id="21ConhecimentosGerais-button102" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Preto</a>
    <a ui-sref="failed()" id="21ConhecimentosGerais-button103" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Marrom</a>
    <a ui-sref="failed()" id="21ConhecimentosGerais-button104" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Cinza</a>
    <a ui-sref="22Astrologia()" id="21ConhecimentosGerais-button105" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Branco</a>
  </ion-content>
</ion-view>