<ion-view title="23 - Anagrama">
  <ion-content padding="true" class="has-header">
    <center>
      <h2 style="color:#000000;">A²ID²RTU</h2>
    </center>
    <form class="list">
      <label class="item item-input" name="resposta">
        <input type="text" placeholder="Resposta" ng-model="resposta">
      </label>
    </form>
    <a ng-click="avancar(resposta)" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Avançar</a>
  </ion-content>
</ion-view>