<ion-view title="25 - Matemática" id="page32">
  <ion-content padding="true" class="has-header">
    <h3 id="25MatemTica-heading17" style="color:#000000;text-align:center;">Se forem investidos R$ 2577,00 durante 6 meses com uma taxa de juros de 5% a.m, qual será o montante final?</h3>
    <a ui-sref="failed()" id="25MatemTica-button114" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">3350,10</a>
    <a ui-sref="26Geografia()" id="25MatemTica-button101" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">3453,42</a>
    <a ui-sref="failed()" id="25MatemTica-button106" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">3120,42</a>
    <a ui-sref="failed()" id="25MatemTica-button107" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">3130,40</a>
  </ion-content>
</ion-view>