<ion-view title="26 - Geografia" id="page29">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/xH2jVirQ6Gy0GjT2hvCA_Flag_of_Norway.svg.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="27MatemTica()" id="26Geografia-button113" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Noruega</a>
    <a ui-sref="failed()" id="26Geografia-button116" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Bulgaria</a>
    <a ui-sref="failed()" id="26Geografia-button117" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Hungria</a>
    <a ui-sref="failed()" id="26Geografia-button118" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Dinamarca</a>
  </ion-content>
</ion-view>