<ion-view title="28 - Enigma" id="page35">
  <ion-content padding="true" class="has-header">
    <h3 id="28Enigma-heading23" style="color:#000000;text-align:center;">Existem 200 alunos em uma escola, desses, 120 fazem aula de inglês e 100 de espanhol, sendo que 60 alunos fazem ambas as matérias. Quantos alunos não estudam nem inglês nem espanhol?</h3>
    <a ui-sref="failed()" id="28Enigma-button121" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;"
      class="button button-energized button-block">20</a>
    <a ui-sref="29Geografia()" id="28Enigma-button124" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">40</a>
    <a ui-sref="failed()" id="28Enigma-button122" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">80</a>
    <a ui-sref="failed()" id="28Enigma-button123" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">100</a>
  </ion-content>
</ion-view>