<ion-view title="2 - Matemática" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="2MatemTica-heading2" style="color:#000000;text-align:center;">0, 1, 1, 2, 3, 5, 8, 13, ?</h3>
    <a ui-sref="failed()" id="2MatemTica-button9" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">20</a>
    <a ui-sref="failed()" id="2MatemTica-button10" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">14</a>
    <a ui-sref="3Biologia()" id="2MatemTica-button11" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">21</a>
    <a ui-sref="failed()" id="2MatemTica-button12" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">22</a>
  </ion-content>
</ion-view>