<ion-view title="3 - Biologia" id="page6">
  <ion-content padding="true" class="has-header">
    <h3 id="3Biologia-heading3" style="color:#000000;text-align:center;">A média de porcentagem de água no corpo humano</h3>
    <a ui-sref="failed()" id="3Biologia-button13" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">60% ~ 65%</a>
    <a ui-sref="4HistRia()" id="3Biologia-button14" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">70% ~ 75%</a>
    <a ui-sref="failed()" id="3Biologia-button15" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">63% ~ 68%</a>
    <a ui-sref="failed()" id="3Biologia-button16" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">80% ~ 85%</a>
  </ion-content>
</ion-view>