<ion-view title="4 - História" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="4HistRia-heading4" style="color:#000000;text-align:center;">O ano do fim da 2º guerra mundial</h3>
    <a ui-sref="failed()" id="4HistRia-button17" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">1938</a>
    <a ui-sref="5Geografia()" id="4HistRia-button18" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">1945</a>
    <a ui-sref="failed()" id="4HistRia-button19" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">1922</a>
    <a ui-sref="failed()" id="4HistRia-button20" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">1940</a>
  </ion-content>
</ion-view>