<ion-view title="6 - História" id="page11">
  <ion-content padding="true" class="has-header">
    <h3 id="6HistRia-heading7" style="color:#000000;text-align:center;">Principal combustível fóssil da 1ª Revolução Industrial</h3>
    <a ui-sref="failed()" id="6HistRia-button29" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Petróleo</a>
    <a ui-sref="failed()" id="6HistRia-button30" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Gás natural</a>
    <a ui-sref="7Geografia()" id="6HistRia-button31" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Carvão</a>
    <a ui-sref="failed()" id="6HistRia-button32" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Urânio</a>
  </ion-content>
</ion-view>