<ion-view title="7 - Geografia" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="7Geografia-heading9" style="color:#000000;text-align:center;">O país mais populoso do mundo</h3>
    <a ui-sref="8MatemTica()" id="7Geografia-button21" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">China</a>
    <a ui-sref="failed()" id="7Geografia-button22" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Rússia</a>
    <a ui-sref="failed()" id="7Geografia-button23" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Índia</a>
    <a ui-sref="failed()" id="7Geografia-button24" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block">Estados Unidos</a>
  </ion-content>
</ion-view>