<ion-view title="Sobre" id="page13" style="background-color:#DFE0B2;">
  <ion-content padding="true" class="has-header">
    <h3 id="sobre-heading20" style="color:#000000;">O QuizSlayer é um jogo desenvolvido para testar seus conhecimentos gerais. Erre uma questão e retorne ao início do quiz. Acerte todas as questões e vença o jogo! Você acha que é capaz de acertas os 30 desafios?</h3>
    <div id="sobre-markdown1" style="text-align:center;"
      class="show-list-numbers-and-dots">
      <p style="color:#000000;">Criado por Felipe Malfatti e Helena Maes.</p>
    </div>
    <a ui-sref="quizSlayer()" id="sobre-button108" style="font-weight:600;color:#000000;border-radius:30px 30px 30px 30px;" class="button button-energized button-block icon-left ion-android-arrow-back">VOLTAR</a>
  </ion-content>
</ion-view>